@import "../lib/bootstrap/css/bootstrap.css";
@import "../lib/bootstrap/css/bootstrap-reboot.css";
@import "../lib/bootstrap/css/bootstrap-grid.css";
@import "../lib/bootstrap/css/bootstrap-grid.css";
@import "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css";
@import "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css";
@import "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css";

@font-face {
  font-family: 'changan';
  src: url("../font/ChangAnunitype-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'changan';
  src: url("../font/ChangAnunitype-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'changan';
  src: url("../font/ChangAnunitype-Light.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*Переменные*/
$fs: 16px;
$main_color:rgb(0, 93, 210);
$hover_color: rgb(0, 102, 181);



/*Миксины*/
@mixin btn-color($color){
  background-color: $color;
  border-color: $color;
  color: white;
  border-radius: 8px;
}
@mixin btn-transparent($color){
  background-color: transparent;
  border-color: $color;
  color: $color;
  border-radius: 8px;
}

body {
  font-size: $fs;
  font-family: changan;
}

input {
  font-size: 1rem;
}
header {
  user-select: none;
  box-shadow: 0 0 4px rgba(0,0,0, .4);

  hr {

  }
  .header__top, .header__bottom {
    min-height: 6vh;
    align-items: center;

    .logo {
      justify-content: start;
      align-items: center;

      span {
        width: 1px;
        height: 60%;
        margin: 0 .6rem;
        background: black;
      }
    }

    img {

      &.logo__brand {
        height: 3vh;
      }

      &.logo__avtohous {
        height: 3vh;
      }
    }
  }

  .hamburger {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }

  .hamburger:hover {
    opacity: 0.7;
  }

  .hamburger-box {
    width: 30px;
    display: inline-flex;
    position: absolute;
    align-items: center;
    top: -8px;
    right: 4px;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }

  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }

  .hamburger-inner::before {
    top: -10px; }

  .hamburger-inner::after {
    bottom: -10px; }

  .hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; }

  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  .hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent; }

  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }

  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .header__adress:before {
    content: '';
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: .4rem;
    background: url("../img/point_grey.svg") center/cover no-repeat;
  }
  .header__work:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 27%;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 1rem;
    background: url(../img/phone_grey.svg) center / cover no-repeat;

  }
  .header__adress,.header__work {
    position: relative;
    align-items: center;
    line-height: normal;
    justify-content: center;
  }
  .navbar {
    display: flex;
    height: 5vh;

    .nav-item {
      cursor: pointer;
    }
  }
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;

  &:before {
    content: '';
    display: inline-flex;
    width: 1.6rem;
    height: 1.6rem;
    background: url("../img/phone.svg") center / cover no-repeat;
  }

  &.phone__header:before {
    content: none;
  }

}

.banner__block {
  position: relative;
  text-align: center;

  img {
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 5%;
  }
  .banner__data {
    position: absolute;
    top: 23%;
    left: 60%;
    right: 17%;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(18px);
    background: rgba(227, 227, 227, 0.1);

    form {
      display: flex;
      flex-flow: column;

      input {
        height: 58px;
      }

      input[type='submit'] {
        color: white;
        border: 1px solid $hover_color;
        background: $hover_color;
        border-radius: 8px;
      }
      input[type='tel']:not(.is-invalid)::not(.is-valid) {
        border: 1px solid rgb(224, 224, 224);
        color: grey;
      }
      .form__politic-text {
        color: rgb(143, 148, 150);
        font-size: 12px;
        text-align: left;
      }
    }
  }

}
.form-control:focus {
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}
#myCarousel {
  height: 200px;
}

.callmodal {
  color: white;
  border: 1px solid $main_color;
  background: $main_color;
  border-radius: 8px;
  max-width: 208px;
  width: 100%;
  height: 48px;
}
@media (min-width:991px) {
  body {
    font-size: clamp(14px,1vw,16px);
  }
  header .header__top {
    height: 8vh;
  }
}

.timer {
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  transform: translateY(-3vh);
  transition: all .4s ease-in;

  .timer__block {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;
    .timer__block-value {
      font-size: clamp(38px, 5vw, 84px);
      color: $main_color;
      text-align: center;
    }
    .timer__block-name {
      color: rgb(143, 148, 150);
      text-align: center;
    }
  }
  .timer__block-dec {
    width: 1px;
    height: 100%;
    background: rgb(224, 224, 224);
  }
  input[type=tel] {
    color: rgb(143, 148, 150);
  }
  input[type="submit"] {
    @include btn-color($main_color);
    height: 58px;
  }
}
.action {
  --f-carousel-slide-padding: 1.4rem 1.2rem;
  --f-carousel-spacing: 1rem;
  &__slide {
    width: 100%;
    height: 230px;
    padding-right: 10%;
    &.n1 {
      background: url("../img/swiper/1.jpeg") center/cover no-repeat;
    }
    &.n2 {
      background: url("../img/swiper/2.jpeg") center/cover no-repeat;
    }
    &.n3 {
      background: url("../img/swiper/3.jpeg") center/cover no-repeat;
    }
    &.n4 {
      background: url("../img/swiper/4.jpeg") center/cover no-repeat;
    }
    .action__slide-title {

    }
    .action__slide-desc {
      padding-right: 8rem;
    }
    .action__slide-btn {
      @include btn-transparent($main_color);
      border: 1px solid $main_color;
      border-radius: 8px;
    }
  }
  @media screen and (min-width: 768px) {
    &__slide {
      width: calc(100% / 2);
    }
  }
  @media screen and (min-width: 1200px) {
    &__slide {
      width: calc(100% / 3);
    }
  }
}

.form__politic-text {
  color: rgb(143, 148, 150);
}
.btn-form {
  @include  btn-color($main-color);
}